In [6]:
import pandas as pd
import numpy as np
import json
# Opening JSON file
f = open('data.json',)
  
# returns JSON object as 
# a dictionary
data = json.load(f)

# Closing file
f.close()

[nltk_data] Error loading punkt: <urlopen error [Errno 61] Connection
[nltk_data]     refused>

In [7]:
%load_ext autoreload
%autoreload 2
import pipeline_entity_quote as pipeline

The autoreload extension is already loaded. To reload it, use:
  %reload_ext autoreload

In [8]:
result_dict = {}

In [9]:
result_dict = pipeline.get_training_features_smalltrial()

Current Time = 22:40:29
Current Time = 22:44:55

In [10]:
result_df = pd.DataFrame.from_dict(result_dict)
result_df

,204f5d99-c9de-4bce-ae2f-5e98085b4930,0526bd0d-41bb-43fe-bdc9-dabeea9dcfaa,33e5aa3f-af33-461d-9e51-16a552e6b985,d10f9f69-204a-422d-886d-ff59f787fe22,88ffc85f-b495-4f59-af53-08a92030f9b7,6c0221c9-f3c9-4f6b-800e-685e75b317c1,e10be83f-75b7-40f8-b041-5bbb9f3f6d77,d65803ad-3800-4a16-b02b-fef589314fab,c0823b0b-16ee-46e3-955e-1bfd50300c3e,7cc09e87-92e3-48c6-aa65-f96fe480f2b0,...,819aca4e-eb18-4013-9780-705717ee1148,301f29e1-37d5-4866-b6ff-f0b0a1b0b401,0c135c94-e648-4c12-83d8-65b5a6abfe65,33365794-d238-4ed9-83ce-49cc575ce3e8,77af0c9b-e91f-466d-83a2-4fad0726328a,b1e6ac85-feac-4a5e-b233-feee04735478,f4945f8a-725f-4b3f-a54a-00947ed87dfd,31f4173d-ac29-4706-a0f2-fe3df5f5de2e,88d81331-b38e-4a39-a9eb-910a9e5ac01c,cb478259-846c-4f96-9dd5-16cff5666f94
entity_num,54.0,22.000000,39.000000,33.0,36.0,15.000000,44.000000,122.000000,40.0,59.000000,...,7.0,38.0,22.000000,39.000000,33.0,36.0,15.000000,44.000000,122.000000,40.0
entity_type_num,9.0,8.000000,7.000000,8.0,8.0,7.000000,7.000000,12.000000,9.0,7.000000,...,4.0,9.0,8.000000,7.000000,8.0,8.0,7.000000,7.000000,12.000000,9.0
num_quote,0.0,8.000000,16.000000,NaN,NaN,3.000000,5.000000,12.000000,NaN,7.000000,...,0.0,NaN,8.000000,16.000000,NaN,NaN,3.000000,5.000000,12.000000,NaN
quote_subjectivity,NaN,0.128299,0.399621,NaN,NaN,0.022222,0.096667,0.377285,NaN,0.292354,...,NaN,NaN,0.128299,0.399621,NaN,NaN,0.022222,0.096667,0.377285,NaN
quote_polarity,NaN,0.048438,-0.031676,NaN,NaN,0.011111,0.045000,-0.045109,NaN,0.022103,...,NaN,NaN,0.048438,-0.031676,NaN,NaN,0.011111,0.045000,-0.045109,NaN

In [8]:
result_dict_quote = {}
result_dict_quote = pipeline.get_training_features_quote_smalltrial()

Current Time = 17:35:57
Current Time = 12:35:41

In [9]:
result_df_quote = pd.DataFrame.from_dict(result_dict_quote)
result_df_quote

[nltk_data] Error loading punkt: <urlopen error [Errno 61] Connection
[nltk_data]     refused>

,204f5d99-c9de-4bce-ae2f-5e98085b4930,0526bd0d-41bb-43fe-bdc9-dabeea9dcfaa,33e5aa3f-af33-461d-9e51-16a552e6b985,d10f9f69-204a-422d-886d-ff59f787fe22,88ffc85f-b495-4f59-af53-08a92030f9b7,6c0221c9-f3c9-4f6b-800e-685e75b317c1,e10be83f-75b7-40f8-b041-5bbb9f3f6d77,d65803ad-3800-4a16-b02b-fef589314fab,c0823b0b-16ee-46e3-955e-1bfd50300c3e,7cc09e87-92e3-48c6-aa65-f96fe480f2b0,...,33c6f2e4-afc3-4481-a1fb-5932b673ffec,0314d0d8-3da3-46c3-bc89-97110eb9dc5f,180c7786-e898-4ed9-b332-b067d2e2bd84,2c473d5a-054a-40b4-bbf7-619f6b59bb23,981a3f25-22af-44ed-ab41-316981deacc8,8dd1f569-7c3f-43c4-9c26-1543d89e032c,7fca5388-231e-4206-a5b2-7d3cd765ba80,f351f646-e3de-4b17-a457-c32741aafda0,f2cb35b3-1f70-471e-8bae-207f157c6cdf,f346bff6-b54e-4c4d-8f5d-44c740bd8e3a
num_quote,0.0,8.000000,16.000000,None,None,3.000000,5.000000,12.000000,None,7.000000,...,1.000,5.000000,0.0,0.0,4.000000,1.0,0.0,0.0,0.0,0.0
quote_subjectivity,NaN,0.128299,0.399621,None,None,0.022222,0.096667,0.377285,None,0.292354,...,0.525,0.261786,NaN,NaN,0.270139,0.0,NaN,NaN,NaN,NaN
quote_polarity,NaN,0.048438,-0.031676,None,None,0.011111,0.045000,-0.045109,None,0.022103,...,-0.200,0.096429,NaN,NaN,0.222917,0.0,NaN,NaN,NaN,NaN

In [10]:
result_df_quote_t = result_df_quote.T
result_df_quote_t

,num_quote,quote_subjectivity,quote_polarity
204f5d99-c9de-4bce-ae2f-5e98085b4930,0.0,NaN,NaN
0526bd0d-41bb-43fe-bdc9-dabeea9dcfaa,8.0,0.128299,0.048438
33e5aa3f-af33-461d-9e51-16a552e6b985,16.0,0.399621,-0.031676
d10f9f69-204a-422d-886d-ff59f787fe22,None,None,None
88ffc85f-b495-4f59-af53-08a92030f9b7,None,None,None
...,...,...,...
8dd1f569-7c3f-43c4-9c26-1543d89e032c,1.0,0.0,0.0
7fca5388-231e-4206-a5b2-7d3cd765ba80,0.0,NaN,NaN
f351f646-e3de-4b17-a457-c32741aafda0,0.0,NaN,NaN
f2cb35b3-1f70-471e-8bae-207f157c6cdf,0.0,NaN,NaN
f346bff6-b54e-4c4d-8f5d-44c740bd8e3a,0.0,NaN,NaN

In [11]:
result_df_quote_t.to_csv("quote_features.csv")